USE [master]
GO
/****** Object:  Database [QLBH_ProjectCuoiKhoa]    Script Date: 8/12/2022 9:22:24 PM ******/
CREATE DATABASE [QLBH_ProjectCuoiKhoa]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QLBH_ProjectCuoiKhoa', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.THANHND\MSSQL\DATA\QLBH_ProjectCuoiKhoa.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QLBH_ProjectCuoiKhoa_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.THANHND\MSSQL\DATA\QLBH_ProjectCuoiKhoa_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLBH_ProjectCuoiKhoa].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLBH_ProjectCuoiKhoa]
GO
/****** Object:  Table [dbo].[HangHoa]    Script Date: 8/12/2022 9:22:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HangHoa](
	[MaHang] [varchar](10) NOT NULL,
	[TenHang] [nvarchar](50) NULL,
	[MoTa] [nvarchar](200) NULL,
	[XuatXuID] [varchar](10) NULL,
 CONSTRAINT [PK_HangHoa] PRIMARY KEY CLUSTERED 
(
	[MaHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HoaDonBan]    Script Date: 8/12/2022 9:22:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoaDonBan](
	[MaHoaDon] [varchar](10) NOT NULL,
	[TenHoaDon] [nvarchar](50) NULL,
	[MoTa] [nvarchar](200) NULL,
	[NgayBan] [date] NULL,
	[MaKhachHang] [varchar](10) NULL,
 CONSTRAINT [PK_HoaDonBan] PRIMARY KEY CLUSTERED 
(
	[MaHoaDon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HoaDonBanChiTiet]    Script Date: 8/12/2022 9:22:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoaDonBanChiTiet](
	[MaHoaDon] [varchar](10) NOT NULL,
	[MaHang] [varchar](10) NOT NULL,
	[SoLuong] [int] NULL,
	[GiaBan] [decimal](18, 3) NULL,
 CONSTRAINT [PK_HoaDonBanChiTiet] PRIMARY KEY CLUSTERED 
(
	[MaHoaDon] ASC,
	[MaHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HoaDonMua]    Script Date: 8/12/2022 9:22:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoaDonMua](
	[MaHoaDon] [varchar](10) NOT NULL,
	[TenHoaDon] [nvarchar](50) NULL,
	[MoTa] [nvarchar](200) NULL,
	[NgayMua] [date] NULL,
 CONSTRAINT [PK_HoaDonMua] PRIMARY KEY CLUSTERED 
(
	[MaHoaDon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HoaDonMuaChiTiet]    Script Date: 8/12/2022 9:22:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoaDonMuaChiTiet](
	[MaHoaDon] [varchar](10) NOT NULL,
	[MaHang] [varchar](10) NOT NULL,
	[SoLuong] [int] NULL,
	[GiaMua] [int] NULL,
 CONSTRAINT [PK_HoaDonMuaChiTiet] PRIMARY KEY CLUSTERED 
(
	[MaHoaDon] ASC,
	[MaHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 8/12/2022 9:22:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachHang](
	[MaKhachHang] [varchar](10) NOT NULL,
	[TenKhachHang] [nvarchar](50) NULL,
	[DienThoai] [varchar](20) NULL,
	[Email] [varchar](50) NULL,
	[DiaChi] [nvarchar](50) NULL,
	[LoaiKhachHang] [varchar](10) NULL,
 CONSTRAINT [PK_KhachHang] PRIMARY KEY CLUSTERED 
(
	[MaKhachHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoaiKhachHang]    Script Date: 8/12/2022 9:22:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiKhachHang](
	[MaLoai] [varchar](10) NOT NULL,
	[TenLoai] [nvarchar](50) NULL,
 CONSTRAINT [PK_LoaiKhachHang] PRIMARY KEY CLUSTERED 
(
	[MaLoai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QLTK]    Script Date: 8/12/2022 9:22:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QLTK](
	[TaiKhoan] [nvarchar](50) NOT NULL,
	[MatKhau] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_QLTK] PRIMARY KEY CLUSTERED 
(
	[TaiKhoan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QuocGia]    Script Date: 8/12/2022 9:22:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QuocGia](
	[MaQuocGia] [varchar](10) NOT NULL,
	[TenQuocGia] [nvarchar](50) NULL,
 CONSTRAINT [PK_QuocGia] PRIMARY KEY CLUSTERED 
(
	[MaQuocGia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[HangHoa]  WITH CHECK ADD  CONSTRAINT [FK_HangHoa_QuocGia] FOREIGN KEY([XuatXuID])
REFERENCES [dbo].[QuocGia] ([MaQuocGia])
GO
ALTER TABLE [dbo].[HangHoa] CHECK CONSTRAINT [FK_HangHoa_QuocGia]
GO
ALTER TABLE [dbo].[HoaDonBan]  WITH CHECK ADD  CONSTRAINT [FK_HoaDonBan_KhachHang] FOREIGN KEY([MaKhachHang])
REFERENCES [dbo].[KhachHang] ([MaKhachHang])
GO
ALTER TABLE [dbo].[HoaDonBan] CHECK CONSTRAINT [FK_HoaDonBan_KhachHang]
GO
ALTER TABLE [dbo].[HoaDonBanChiTiet]  WITH CHECK ADD  CONSTRAINT [FK_HoaDonBan] FOREIGN KEY([MaHoaDon])
REFERENCES [dbo].[HoaDonBan] ([MaHoaDon])
GO
ALTER TABLE [dbo].[HoaDonBanChiTiet] CHECK CONSTRAINT [FK_HoaDonBan]
GO
ALTER TABLE [dbo].[HoaDonBanChiTiet]  WITH CHECK ADD  CONSTRAINT [FK_HoaDonBanChiTiet_HangHoa] FOREIGN KEY([MaHang])
REFERENCES [dbo].[HangHoa] ([MaHang])
GO
ALTER TABLE [dbo].[HoaDonBanChiTiet] CHECK CONSTRAINT [FK_HoaDonBanChiTiet_HangHoa]
GO
ALTER TABLE [dbo].[HoaDonBanChiTiet]  WITH CHECK ADD  CONSTRAINT [FK_HoaDonBanChiTiet_HoaDonBan] FOREIGN KEY([MaHoaDon])
REFERENCES [dbo].[HoaDonBan] ([MaHoaDon])
GO
ALTER TABLE [dbo].[HoaDonBanChiTiet] CHECK CONSTRAINT [FK_HoaDonBanChiTiet_HoaDonBan]
GO
ALTER TABLE [dbo].[HoaDonMuaChiTiet]  WITH CHECK ADD  CONSTRAINT [FK_HoaDonMuaChiTiet_HangHoa] FOREIGN KEY([MaHang])
REFERENCES [dbo].[HangHoa] ([MaHang])
GO
ALTER TABLE [dbo].[HoaDonMuaChiTiet] CHECK CONSTRAINT [FK_HoaDonMuaChiTiet_HangHoa]
GO
ALTER TABLE [dbo].[HoaDonMuaChiTiet]  WITH CHECK ADD  CONSTRAINT [FK_HoaDonMuaChiTiet_HoaDonMua] FOREIGN KEY([MaHoaDon])
REFERENCES [dbo].[HoaDonMua] ([MaHoaDon])
GO
ALTER TABLE [dbo].[HoaDonMuaChiTiet] CHECK CONSTRAINT [FK_HoaDonMuaChiTiet_HoaDonMua]
GO
ALTER TABLE [dbo].[KhachHang]  WITH CHECK ADD  CONSTRAINT [FK_KhachHang_LoaiKhachHang] FOREIGN KEY([LoaiKhachHang])
REFERENCES [dbo].[LoaiKhachHang] ([MaLoai])
GO
ALTER TABLE [dbo].[KhachHang] CHECK CONSTRAINT [FK_KhachHang_LoaiKhachHang]
GO
/****** Object:  StoredProcedure [dbo].[SP_AuthoLogin]    Script Date: 8/12/2022 9:22:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[SP_AuthoLogin]
@Username nvarchar(20),
@Password nvarchar(20)
as
begin
    if exists (select * from QLTK where TaiKhoan = @Username and MatKhau = @Password)
        select 1 as code
    else if exists(select * from QLTK where TaiKhoan = @Username and MatKhau != @Password) 
        select 2 as code
    else select 3 as code
end
GO
USE [master]
GO
